.light-color-scheme{
    --ButtonColor: #ffffff;
    --HoverButtonColor: #B5F44A;
    --HeaderFooterColor: #007EA7;
    --GridContainerColor: #C0C0C0;
    --LegendColor: #433E3F;
    --LegendTextColor: #C0C0C0;
    --NodeHoverColor: #B5F44A;

}

.dark-color-scheme{
    --ButtonColor: #A0D2DB;
    --HoverButtonColor: #C4E3E9;
    --HeaderFooterColor: #000000;
    --GridContainerColor: #473C8A;
    --LegendColor: #726E60;
    --LegendTextColor: #000000;
    --NodeHoverColor: #3A3271;
}

/*light-color-scheme reference*/
/*https://coolors.co/ffffff-b5f44a-007ea7-c0c0c0-433e3f*/

/*dark-color-scheme reference*/
/*https://coolors.co/000000-473c8a-a0d2db-726e60-c4e3e9*/
