@media screen and (max-width: 767px){
    #footer-container{
        /*font-size: 3.25em;*/
        white-space: nowrap;
    }

    .mobile-button{
        background-color: red;
    }
    .foot-button{
        margin: 0;
    }
    #button-divider{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.button-divider{
    display: flex;
    flex-direction: row;
}

.safari-mobile-browser{
    /*padding-bottom: 100px;*/
    /*background-color: green;*/
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--HeaderFooterColor);
    color: white;
    height: 14vh;
    width: 100vw;

    box-shadow: 0 1px 20px 1px #000;
}

.footer-button{
    margin: 1em;
}

.footer-button-container-mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--HeaderFooterColor);
    color: white;
    height: 14vh;
    width: 100vw;

    box-shadow: 0 1px 20px 1px #000;
}
