@media screen and (max-width: 390px) and (max-height: 844px) {
    #grid-container{
        font-size: 3em;
        flex-direction: column;
    }

    #grid{
        margin-bottom: 4vh;
    }


}

.grid-container{
    background-color: var(--GridContainerColor);
    height: 76vh;
    width: 100vw;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
}

.grid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    /*height: 50vh;*/
    /*width: 50vw;*/
    box-shadow: 0 1px 20px 1px #000;
    margin-bottom: 3vh;
}

.grid-row{
    display: flex;
    flex-direction: row;
}

.grid-cube{
    background-color: silver;
    border: 1px solid black;
    height: 2em;
    width: 2em;


}

.grid-cube:hover{
    background-color: purple;
    /*opacity: 0.5;*/
    /*transition: 0.1s ease-out;*/
}