@media screen and (max-width: 930px){
    #right-legend{
        height: 100vh;
        width: 35%;
    }

    #left-legend{
        height: 100vh;
        width: 65%;
    }

    #center-grid{
        height: 60vh;
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    #grid-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 0.9em;
    }

    #right-legend{
        height: 35vh;
        width: 100%;
    }

    #left-legend{
        height: 5vh;
        width: 100vw;
    }

    #center-grid{
        height: 60vh;
        width: 100%;
    }


}

.grid-container{
    background-color: var(--GridContainerColor);
    height: 76vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;

}

.right-legend{
    height: 100%;
    width: 25%;
}

.left-legend{
    height: 100%;
    width: 25%;
}

.center-grid{
    height: 100%;
    width: 50%;
    z-index: 0;
}

.grid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    box-shadow: 0 1px 20px 1px #000;
}

.grid-row{
    display: flex;
    flex-direction: row;
}

.grid-cube{
    background-color: silver;
    border: 1px solid black;
    height: 2em;
    width: 2em;
}

.grid-cube:hover{
    background-color: purple;
}